* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: calibri;
    outline: none;
    text-decoration: none;
}

body {
    background: black;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

h1 {
    color: white;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s steps(36) infinite alternate;
    border-right: 3px solid red;
    font-size: 60px;
    /* line-height: 100vh; */
}

@keyframes text {
    0% {
        width: 0ch;
    }
    50% {
        width: 36ch;
    }
}