    footer {
        border: 2px solid white;
        background-color: rgb(80, 74, 24);
        margin-top: 20px;
        color: white;
        height: 360px;
    }
    
    #about {
        text-align: center;
        margin: 20px;
    }
    
    #ab {
        color: white;
    }
    
    #fooo {
        color: black;
        font-weight: bolder;
        font-size: 20px;
        text-decoration: double;
        text-decoration: underline;
    }
    
    #md {
        background-color: brown;
        height: 30px;
        text-align: center;
        margin: 20px;
        padding: 5px;
    }
    
    #cnn {
        /* width: 600px; */
        height: 250px;
    }
    
    * {
        box-sizing: border-box;
    }
    /* Create three equal columns that floats next to each other */
    
    .column1 {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px;
        /* Should be removed. Only for demonstration */
    }
    /* Clear floats after the columns */
    
    .row1:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .cir {
        border-radius: 2%;
    }
    
    #sig {
        color: rgb(131, 119, 15);
    }
    
    #updd {
        background-color: rgb(131, 119, 15);
        margin: 30px;
        height: 40px;
        color: white;
        text-align: center;
        margin-bottom: 70px;
        margin-left: 500px;
    }
    
    .sl {
        border: 2px solid black;
        background-color: white;
        height: 33px;
    }
    
    #sl {
        border: 2px solid black;
        background-color: white;
        height: 33px;
    }
    
    .sll {
        border: 2px solid black;
        background-color: white;
        height: 63px;
    }
    
    #upd {
        background-color: rgb(131, 119, 15);
        margin: 30px;
        height: 40px;
        color: white;
    }
    
    #foo {
        color: white;
    }
    
    h1 {
        color: black;
        width: 0ch;
        overflow: hidden;
        white-space: nowrap;
        animation: text 6s steps(38) infinite alternate;
        border-right: 3px solid red;
        font-size: 60px;
        /* line-height: 100vh; */
        margin: 90px;
    }
    
    @keyframes text {
        0% {
            width: 0ch;
        }
        50% {
            width: 38ch;
        }
    }
    
    #less {
        display: none;
    }
    
    .detail {
        text-align: center;
        margin: 30px;
    }
    
    .id2 {
        background-color: brown;
        color: white;
        width: 40000px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    #rwd {
        width: 30px;
    }
    
    #sell {
        text-align: center;
    }
    
    #post {
        background-color: rgb(131, 119, 15);
    }
    
    h3 {
        color: rgb(131, 119, 15);
    }
    
    a {
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        text-decoration: none;
        color: black;
    }
    /* #width {
        width: 100px;
        text-align: center;
    }
     */
    
    #update {
        border: 2px solid white;
        background-color: aliceblue;
    }
    
    .rw {
        background-color: brown;
        width: 80px;
        color: white;
    }
    
    .rwd {
        background-color: brown;
        width: 120px;
        color: white;
    }
    
    form {
        text-align: center;
        margin: 40px;
    }
    
    #idd {
        text-align: center;
        margin-left: 550px;
        margin-bottom: 20px;
    }
    
    #call {
        text-align: center;
        margin-top: 70px;
        margin-bottom: 100px;
    }
    
    #register {
        text-align: center;
    }
    
    .fooo {
        color: rgb(131, 119, 15);
    }
    
    #lf {
        width: 600px;
        height: 400px;
        /* margin-right: 90000000px; */
        margin-bottom: 40px;
    }
    
    #green {
        color: green;
    }
    
    .rd {
        background-color: rgb(131, 119, 15);
        color: white;
        /* width: 880%; */
    }
    
    .id {
        background-color: brown;
        color: white;
    }
    
    .foo {
        color: white;
    }
    
    #rd {
        background-color: brown;
        color: white;
    }
    
    #id,
    select {
        width: 524px;
    }
    
    #log {
        text-align: center;
        margin-bottom: 30px;
    }
    
    #survey {
        background-color: white;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #white {
        color: white;
        font-size: 19px;
        /* text-decoration: none; */
    }
    
    form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }
    
    #red {
        color: brown;
    }
    /* form {
    margin-left: 30%;
} */
    
    * {
        box-sizing: border-box;
    }
    
    .sm {
        text-align: center;
    }
    
    .pos {
        color: white;
        text-align: center;
        margin-top: 30px;
    }
    
    * {
        box-sizing: border-box;
    }
    /* Create two equal columns that floats next to each other */
    
    .columnn {
        float: left;
        width: 50%;
        padding: 10px;
        height: 300px;
        /* Should be removed. Only for demonstration */
    }
    /* Clear floats after the columns */
    
    .roww:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Create two equal columns that floats next to each other */
    /* .column {
    float: left;
    width: 90%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
    /* } */
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    form.example button {
        float: right;
        width: 20%;
        padding: 10px;
        background: brown;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
    }
    
    .nav_right {
        text-align: right;
    }
    
    #more {
        display: none;
    }
    
    #top {
        background-color: brown;
        color: white;
        text-align: center;
    }
    
    #buy {
        text-align: center;
    }
    
    #pa {
        width: 260px;
    }
    
    #search {
        /* border-radius: 50%; */
        background-color: brown;
    }
    
    .large {
        height: 40px;
        color: white;
    }
    
    #contact {
        margin: 30px;
        margin-bottom: 80px;
        /* margin-bottom: 100px; */
    }
    
    h4 {
        background-color: rgb(131, 119, 15);
    }
    
    #tg {
        height: 180px;
        width: 190px;
    }
    
    #co {
        margin-bottom: 100px;
    }
    
    #down {
        text-align: center;
        color: white;
        margin-left: 900px;
    }
    
    #bn {
        margin-top: 5px;
        margin-left: 35px;
    }
    
    nav {
        font-size: 16px;
        background-color: rgb(131, 119, 15);
        /* background-color: rgb(152, 197, 79); */
        /* background-color: white; */
        padding: 30px;
        /* /* background-image: url('backk.jpg'); */
        /* background-image: url('back5.jpeg'); */
        /* background-image: url("back.jpg"); */
    }
    /* 
* {
    box-sizing: border-box;
}


/* Create three equal columns that floats next to each other */
    /* .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
    /* } */
    /* Clear floats after the columns */
    /* .row:after { */
    /* content: "";
    display: table;
    clear: both;
} */
    /* 
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    /* height: 300px; */
    /* Should be removed. Only for demonstration */
    /* } */
    /* Clear floats after the columns */
    /* .row:after {
    content: "";
    display: table;
    clear: both;
} */
    /*     
    .down {
        margin-top: 30%;
    } */
    /* #small {
        /* margin-top: 10000px; */
    /* } */
    
    .column {
        float: left;
        width: 50%;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Float four columns side by side */
    
    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }
    /* Remove extra left and right margins, due to padding */
    
    .row {
        margin: 0 -5px;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
        clear: both;
        padding: 10px;
    }
    /* Responsive columns */
    
    @media screen and (max-width: 600px) {
        .column {
            width: 10%;
            display: block;
            margin-bottom: 20px;
        }
    }
    /* Style the counter cards */
    
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
    }